<style type="text/css">


/*
	Off canvas menu from
	https://www.w3schools.com/howto/howto_js_off-canvas.asp
*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav p
{
	color:#ffffff;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.dcp-sidebar
{
	height:100px;
	width:150px;
	display:block;
	padding:20px;
	background-color:#cccccc;
	z-index: 10000;
	
}

.dcp-sidebar h2
{
	font-size:12px;
	font-weight: bold;
}


</style>